html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Abel', sans-serif;
    font-size: 1.1em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Abel', sans-serif;
    font-size: 2.3em;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    /*box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);*/
}

.deck .card:hover {
    background-color: #405261;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    animation: growShrink 0.5s;

}

.deck .card.noMatch {
    animation: shake 0.5s;
}

/*Shake animation for noMatch cards*/
@keyframes shake {
  0% { transform: translate(10px, 0px) rotate(2deg); }
  40% { transform: translate(-10px, 0px) rotate(-2deg); }
  80% { transform: translate(10px, 0px) rotate(2deg); }
}

/*Grow and shrink animation for match cards*/
@keyframes growShrink {
    from { transform: none; }
    50% { transform: scale(1.2); }
    to { transform: none; }
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;

}

.timer {
    display: inline-block;
    margin: 0 1rem;
}


/*Modal background*/
.modal {
    display: none; /*Modal is hidden until called*/
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0,0,0,0.4); 
}

/*Modal box*/
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 3px solid #aa7ecd; /*Light purple*/
    border-radius: 15px;
    width: 60%;
    text-align: center;
    font-size: 1.5em;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#playAgain {
    background-color: #02ccba; /*Light green-blue*/
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 20px;
}

#playAgain:hover {
    background-color: #0be8d5;
}